.search-button {
  appearance: none;
  background-color: #dc879b;
  color: #7e0000;
  font-size: 18px;
  border: #7e0000 solid 2px;
  width: 200px;
  height: 40px;
  margin-left: 5px;
  border-radius: 10px;
}
